open<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-account-usuario">
  <template>
    <style>
      :host {
        display: block;
        /* all: initial;*/
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <h1>Sus cuentas</h1>
    <dom-repeat items="{{accounts}}">
    <!--<template is = "dom-repeat" items="{{accounts}}">-->
      <template>
        <div>IBAN: <span>{{item.IBAN}}</span></div>
        <div>Balance: <span>{{item.balance}}</span></div>
        <br />
      </template>
    </dom-repeat>

    <iron-ajax auto
      id="getAccountUserId"
      url="http://localhost:3000/apitechu/v1/accounts/{{userid}}"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError"
    >

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorAccountUsuario extends Polymer.Element {
      static get is() { return 'visor-account-usuario'; }
      static get properties() {
        return {
           userid: {
            type: Number
          },accounts: {
            type: Array
          }
        };
      }
      manageAJAXResponse(data){
        console.log("Llegaron los datos");
        console.log(data.detail.response);

        this.accounts = data.detail.response;

      }
      showError(error){
        console.log("Hubo un error");
        console.log(error);
      }
    }

    window.customElements.define(VisorAccountUsuario.is, VisorAccountUsuario);
  </script>
</dom-module>
